
<img src="../../assets/tempPhillstackLogo.svg" style="height: 100px; width: 200px;" alt="Phillstack Logo" routerLink="/">


<div id="toggle" (click)="toggleNav()" [class.toggled]="navToggle === true">
	<ul>
		<li><a href="#" >
            <span class="line l1"></span>
            <span class="line l2"></span>
            <span class="line l3"></span>
        </a></li>
	</ul>
</div>

<section id="full-screen-nav" class="panel" [class.active]="navToggle === true">
	<nav id="nav">
		<ul>
			<li><a href="#">Blog<span class="desc">Opinions</span></a></li>
			<li><a href="#">Grant<span class="desc">Developer</span></a></li>
			<li><a routerLink="/mark">Mark<span class="desc">Developer</span></a></li>
			<li><a href="#">Sheldon<span class="desc">Designer</span></a></li>
		</ul>
	</nav>
</section>
