img {
    background: transparent;
    top: 0;
    left: 0;
    position: fixed;
}

.dashed
{
  border-style : Dashed;
  border-color : #00FFFF;
  border-color : rgba(0, 255, 255, 1);
  border-width : 1px;
}
.Line3
{
  background : #FFFFFF;
  background : rgba(255, 255, 255, 1);
  border-radius : 4px;
  -moz-border-radius : 4px;
  -webkit-border-radius : 4px;
}
.Line1
{
  background : #FFFFFF;
  background : rgba(255, 255, 255, 1);
  border-radius : 4px;
  -moz-border-radius : 4px;
  -webkit-border-radius : 4px;
}
.blueCir
{
  background : #00FFFF;
  background : rgba(0, 255, 255, 1);
}
.Line5
{
  background : #FFFFFF;
  background : rgba(255, 255, 255, 1);
  border-radius : 4px;
  -moz-border-radius : 4px;
  -webkit-border-radius : 4px;
}
.Line2
{
  background : #FFFFFF;
  background : rgba(255, 255, 255, 1);
  border-radius : 4px;
  -moz-border-radius : 4px;
  -webkit-border-radius : 4px;
}
.Line4
{
  background : #FFFFFF;
  background : rgba(255, 255, 255, 1);
  border-radius : 4px;
  -moz-border-radius : 4px;
  -webkit-border-radius : 4px;
}
