<div class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="col-xs-4" id="footerSocials">
            <a href="https://www.facebook.com/PhillStack/" style="padding-right: 20px;" target="_blank"><img src="../../assets/facebook.png" alt="Facebook Logo"></a>
            <a href="https://twitter.com/PhillstackDev" style="padding-right: 20px;" target="_blank"><img src="../../assets/Twitter.png" alt="Twitter Logo"></a>
            <a href="https://github.com/teamNerd" target="_blank"><img src="../../assets/github.png" alt="Github Logo"></a>
        </div>
        <div class="col-xs-4">
            <h5 class="copyright">© 2017 Phillstack</h5>
        </div>
        <div class="col-xs-4">
            <h5>Phillstack <small>Web &amp; App Development</small></h5>
        </div>
    </div>
</div>