@import "_bootstrap-custom.scss";

//* {
//    border: red 1px solid;
//}

html, 
body, 
.cover { 
    background: url(../assets/code.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 100%;
}