<div class="cover">
    <div class="cover-text">
        <h1>Team Nerd</h1>
        <hr>
        <p class="lead">Mobile &amp; Web Development</p>
        <button class="btn">Contact Us!</button>
        <h3>Who We Are</h3>
        <span class="caret"></span>
    </div>
</div>

<section class="about">
   <div class="container">
    <h2>What we can build for you</h2>
    <div class="col-sm-12 col-md-4">
        <img class="SEO" src="../../assets/SEO.jpg" alt="SEO">
        <h4>SEO</h4>
        <p>We focus on SEO to make sure your web pages come up on the first page of search engines.</p>
    </div>
    <div class="col-sm-12 col-md-4">
        <img class="analytics" src="../../assets/analytics.jpg" alt="Analytics">
        <h4>Analytics</h4>
        <p>We can provide you with analytics to help you understand what demographic is paying attention to your tech, and provide you insight on how to reach other customers.</p>
    </div>
    <div class="col-sm-12 col-md-4">
        <img class="speed" src="../../assets/speed.jpg" alt="Speed">
        <h4>Responsive Mobile &amp; Web Apps</h4>
        <p>Our web apps are built with Angular JavaScript. Think light weight, minimal server use, and lighting fast response. We also have experience building Android &amp; iOS Apps!</p>
    </div>
    </div>
</section>   

<section class="projects">
    <div class="container">
        <h2>Some of our previous projects</h2>
    <div class="row">
        <div class="col-md-6">
            <img class="boombox" src="../../assets/boomboxcartelsite.png" alt="Boombox Cartel">
        </div>
        <div class="col-md-6">
            <h3>Boombox Cartel</h3>
            <h5>Website</h5>
            <p>"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."</p>
        </div>
    </div>
    <br>
    <div class="row" id="barber">
        <div class="col-md-6">
            <h3>Reco Diamond</h3>
            <h5>Website</h5>
            <p>"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."</p>
        </div>
        <div class="col-md-6">
            <img class="barber" src="../../assets/recodiamondsite.png" alt="Reco Diamond">
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-md-6">
            <img class="msdos" src="../../assets/bmagazusite.png" alt="Brian Magazu">
        </div>
        <div class="col-md-6">
            <h3>Brian Magazu</h3>
            <h5>Website</h5>
            <p>"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."</p>
        </div>
    </div>
    </div>
</section>

<section class="testimonials">
    <div class="container">
       <h2>What people in the past have said about our work</h2>
        <blockquote>
            &ldquo;THE NERDS took on a unique web development job for me in April; one that others wouldn't touch, and which assuredly required a propensity for learning, adapting, and communicating effectively. Let's just say THE NERDS excelled at all three, delivering exactly what we were looking for ahead of schedule, and keeping me constantly abreast of progress. He truly went above and beyond, even completing small revisions after the task was done, and writing detailed instructions to help us in the future. &rdquo;
            <cite>&mdash; Brian Magazu</cite>
        </blockquote>
    </div>
</section>

<section class="contact">
    <div class="col-md-6 contactForm">
        <h2>Contact Us!</h2>
        <form method="post">
            <fieldset class="form-group">
                <input type="name" class="form-control" id="name" name="name" placeholder="Full Name">
            </fieldset>
            <fieldset class="form-group">
                <input type="email" class="form-control" id="email" name="email" placeholder="Email">
            </fieldset>
            <fieldset class="form-group">
                <input type="subject" class="form-control" id="subject" name="subject" placeholder="Subject">
            </fieldset>
            <fieldset class="form-group">
                <textarea class="form-control" id="content" name="message" placeholder="Message"></textarea>
            </fieldset>
            <div title="subscribeButton">
                <div class="subscribe">
                    <input type="checkbox" value="None" id="subscribe" name="check" checked />
                    <label for="subscription">Stay up to date with us!</label>
                </div>
            </div>
            <button type="submit" id="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
</section>